## Ejercicio 1

Descargar el dataset Airlines Delay y cargalo en un Dataframe

Explora los datos que contiene y quedate con las columnas que consideres relevantes

---------------------------------

In [1]:
import pandas as pd
import numpy as np

# To embed pics by decoding base64 data
from IPython import display
from base64 import b64decode

In [2]:
data_path_file='DelayedFlights.csv'

In [3]:
flights_data=pd.read_csv(data_path_file)

Observamos los datos contenidos en el DataFrame

In [4]:
flights_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [5]:
flights_data.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,...,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,3.341651e+06,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,...,7.656862e+02,6.812975e+00,1.823220e+01,3.268348e-04,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,2.066065e+06,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,...,5.744797e+02,5.273595e+00,1.433853e+01,1.807562e-02,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.517452e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.242558e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,4.972467e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,7.009727e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [6]:
flights_data.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Obtenemos los nombres de las columnas de los datos.

In [7]:
flights_data.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

Seleccionamos las columnas de interes

In [8]:
features=['Month', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'ActualElapsedTime',
          'CRSElapsedTime', 'AirTime', 'ArrDelay','DepDelay', 'Distance', 'Cancelled', 'Diverted']

Seleccionamos solo los datos de las columnas de interes y lo guardamos en el DataFrame X

In [9]:
X= flights_data[features]

## Ejercicio 2

Informe completo del dataset

-------------------------------------------

* Obtenemos un resumen estadistico de los datos de las columnas de interés

In [10]:
X.describe()

,Month,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06
mean,6.111106e+00,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,3.268348e-04,4.003598e-03
std,3.482546e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,1.807562e-02,6.314722e-02
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00
25%,3.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.000000e+00,0.000000e+00
50%,6.000000e+00,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,0.000000e+00,0.000000e+00
75%,9.000000e+00,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,0.000000e+00,0.000000e+00
max,1.200000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,1.000000e+00,1.000000e+00

Vemos los primeros 10 valores

In [11]:
X.head(10)

,Month,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
0,1,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,810,0,0
1,1,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,810,0,0
2,1,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,515,0,0
3,1,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,515,0,0
4,1,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,688,0,0
5,1,4,1937.0,1830,2037.0,1940,WN,240.0,250.0,230.0,57.0,67.0,1591,0,0
6,1,4,706.0,700,916.0,915,WN,130.0,135.0,106.0,1.0,6.0,828,0,0
7,1,4,1644.0,1510,1845.0,1725,WN,121.0,135.0,107.0,80.0,94.0,828,0,0
8,1,4,1029.0,1020,1021.0,1010,WN,52.0,50.0,37.0,11.0,9.0,162,0,0
9,1,4,1452.0,1425,1640.0,1625,WN,228.0,240.0,213.0,15.0,27.0,1489,0,0

 Comprobamos el numero de vuelos del dataframe. Se dispone de 1,936,758 vuelos y 15 caracteristicas seleccionadas

In [12]:
X.shape

(1936758, 15)

* Visualizaremos una matriz de graficos bivariantes de las variables numericas continuas.

![cont_biplot](./pics/cont_feat_plot_red.png)

* Calculamos el numero de Missing Values del Dataframe por columna.

In [13]:
print('Missing values by column:')
1936758-X.count()

Missing values by column:

Month                   0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Distance                0
Cancelled               0
Diverted                0
dtype: int64

In [14]:
X.isnull().sum()

Month                   0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Distance                0
Cancelled               0
Diverted                0
dtype: int64

Miramos los tipos de datos de cada columna

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   Month              int64
 1   DayOfWeek          int64
 2   DepTime            float64
 3   CRSDepTime         int64
 4   ArrTime            float64
 5   CRSArrTime         int64
 6   UniqueCarrier      object
 7   ActualElapsedTime  float64
 8   CRSElapsedTime     float64
 9   AirTime            float64
 10  ArrDelay           float64
 11  DepDelay           float64
 12  Distance           int64
 13  Cancelled          int64
 14  Diverted           int64
dtypes: float64(7), int64(7), object(1)
memory usage: 221.6+ MB

* Creamos las nuevas columnas 'SpeedAv' y 'Late'

Definimos la caracteristica 'SpeedAv' como la velocidad media en [millas/h] del trayecto

In [16]:
SpeedAv= X['Distance']*60/X['ActualElapsedTime']

In [17]:
X.insert(13, 'SpeedAv', SpeedAv)

In [18]:
X.shape

(1936758, 16)

Creamos la columna 'Late' que tomara valores 'bool'. Valdrá True si el retraso en la llegada X['ArrDelay'] es positivo.

In [19]:
Late= X['ArrDelay'] > 0

In [20]:
X.insert(14,'Late', Late)

In [21]:
X.shape

(1936758, 17)

Verificamos la creacion de las columnas en las ubicaciones definidas asi como los valores observados

In [22]:
X.head()

,Month,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,SpeedAv,Late,Cancelled,Diverted
0,1,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,810,379.687500,False,0,0
1,1,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,810,379.687500,True,0,0
2,1,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,515,321.875000,True,0,0
3,1,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,515,343.333333,True,0,0
4,1,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,688,408.712871,True,0,0

In [23]:
X.describe()

,Month,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,SpeedAv,Cancelled,Diverted
count,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.936758e+06,1.936758e+06
mean,6.111106e+00,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,3.152272e+02,3.268348e-04,4.003598e-03
std,3.482546e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,9.025755e+01,1.807562e-02,6.314722e-02
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,1.100000e+01,0.000000e+00,0.000000e+00
25%,3.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,2.555172e+02,0.000000e+00,0.000000e+00
50%,6.000000e+00,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,3.221429e+02,0.000000e+00,0.000000e+00
75%,9.000000e+00,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,3.802941e+02,0.000000e+00,0.000000e+00
max,1.200000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,1.662857e+03,1.000000e+00,1.000000e+00

In [24]:
print('Porcentaje de vuelos por compañia:')
round(X['UniqueCarrier'].value_counts(normalize=True)*100,2)

Porcentaje de vuelos por compañia:

WN    19.50
AA     9.91
MQ     7.33
UA     7.30
OO     6.84
DL     5.90
XE     5.35
CO     5.17
US     5.08
EV     4.23
NW     4.08
FL     3.68
YV     3.46
B6     2.86
OH     2.72
9E     2.68
AS     2.03
F9     1.46
HA     0.39
AQ     0.04
Name: UniqueCarrier, dtype: float64

* Grafico de porcentaje de vuelos por compañia

![carriers](./pics/carriers.png)

Vemos cuantos vuelos han tenido retrasos

In [25]:
print('Numero de vuelos retrasados:')
X['Late'].sum()

Numero de vuelos retrasados:

1723415

In [26]:
print('Porcentaje de vuelos retrasados respecto el total:')
round(X['Late'].sum()/X.shape[0]*100,2)

Porcentaje de vuelos retrasados respecto el total:

88.98

Consideremos los datos de los vuelos retrasados en el DataFrame X_late

In [27]:
X_late = X[X['Late']]

Calculemos el porcentaje de vuelos retrasados por compañia

In [28]:
print('Porcentaje de vuelos retrasados por compañia:')
round(X_late['UniqueCarrier'].value_counts(normalize=True)*100,2)

Porcentaje de vuelos retrasados por compañia:

WN    18.84
AA     9.99
MQ     7.58
UA     7.19
OO     7.08
DL     5.86
XE     5.47
CO     4.85
US     4.83
EV     4.36
NW     4.20
FL     3.77
YV     3.67
OH     2.85
B6     2.80
9E     2.72
AS     1.98
F9     1.49
HA     0.42
AQ     0.04
Name: UniqueCarrier, dtype: float64

* Histograma del retraso de los vuelos 'ArrDelay'

![arrdelay](./pics/arrdelay.png)

* Diagrama bivariante entre 'ArrDelay' y 'DepDelay'

![arrdelay_vs_depdelay](./pics/arrdelay_depdelay.png)

* Grafico de 'ArrDelay' vs 'DepDelay' agrupado por 'UniqueCarrier'

![arrdelay_depdelay_carrier](./pics/arrdelay_depdelay_carrier.png)

* Grafico de 'ArrDelay' vs 'DepDelay' y 'AirTime'

![arrdelay_depdelay_airtime](./pics/arrdelay_depdelay_airtime.png)

* Grafico de 'ArrDelay' vs 'DepDelay' y 'AirTime' agrupado por 'UniqueCarrier'

![4variables3](./pics/4variables3.png)

* Observemos los vuelos mas largos. Definamos _**X_long**_ para los vuelos con una 'Distance' superior a mean+std

In [29]:
X['Distance'].mean() + X['Distance'].std()

1340.1658121069263

In [30]:
X_long= X[X['Distance']>1340.16]

In [31]:
print('Numero de vuelos considerados largos:')
X_long.shape[0]

Numero de vuelos considerados largos:

278175

In [32]:
print('Porcentaje de vuelos largos respecto el total:')
round(X_long.shape[0]/X.shape[0]*100,2)

Porcentaje de vuelos largos respecto el total:

14.36

In [33]:
print('Porcentaje de vuelos largos por compañia:')
round(X_long['UniqueCarrier'].value_counts(normalize=True)*100, 2)

Porcentaje de vuelos largos por compañia:

AA    17.75
UA    16.05
CO    14.82
WN    13.97
DL    10.30
US     9.69
NW     4.87
B6     4.60
AS     3.01
FL     1.98
F9     1.16
HA     0.84
OO     0.39
XE     0.21
OH     0.14
AQ     0.08
MQ     0.08
YV     0.04
9E     0.02
Name: UniqueCarrier, dtype: float64

* Observemos los vuelos mas retrasados. Definamos _**X_vlate**_ con los datos de los vuelos con 'ArrDelay' superior a mean+std

In [34]:
round(X['ArrDelay'].mean()+X['ArrDelay'].std(),2)

98.98

In [35]:
X_vlate= X[X['ArrDelay']>98.98]

In [36]:
print('Numero de vuelos considerados muy retrasados:')
X_vlate.shape[0]

Numero de vuelos considerados muy retrasados:

220461

In [37]:
print('Porcentaje de vuelos considerados muy retrasados respecto del total:')
round(X_vlate.shape[0]/X.shape[0]*100,2)

Porcentaje de vuelos considerados muy retrasados respecto del total:

11.38

In [38]:
print('Porcentaje de vuelos considerados muy retrasados por compañia.')
round(X_vlate['UniqueCarrier'].value_counts(normalize=True)*100, 2)

Porcentaje de vuelos considerados muy retrasados por compañia.

AA    11.08
WN    11.03
UA     9.38
OO     7.92
MQ     7.37
XE     7.11
DL     5.47
CO     5.38
YV     5.31
EV     5.11
B6     4.47
US     4.17
FL     3.91
OH     3.53
NW     3.40
9E     3.10
AS     1.45
F9     0.57
HA     0.21
AQ     0.01
Name: UniqueCarrier, dtype: float64

Consideremos ahora los datos de los vuelos con retraso contenidos en X_late.

En total se han acumulado 82,604,167 min de retraso

In [39]:
X_late['ArrDelay'].sum()

82604167.0

* Valoremos el valor acumulado de retrasos agrupado por compañias.

Consideremos los datos agrupados por 'UniqueCarrier' y almacenemoslos en el dataframe agrupado 'grouped'. Los indices son los diferentes valores que toma 'Uniquecarrier'

In [40]:
grouped=X_late.groupby('UniqueCarrier')

In [41]:
type(X_late)

pandas.core.frame.DataFrame

In [42]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

En la tabla podemos ver el valor acumulado de retrasos por compañia. Tambien podemos ver el valor medio de retraso, la dispersion de los retrasos y el valor máximo.

In [43]:
grouped['ArrDelay'].agg([np.sum, np.mean, np.std, np.max])

                      sum       mean        std    amax
UniqueCarrier
9E              2443157.0  52.097343  60.852221  1143.0
AA              9007400.0  52.308693  61.801846  1525.0
AQ                17134.0  26.198777  34.289198   338.0
AS              1438977.0  42.101202  51.638684   948.0
B6              3080816.0  63.947859  69.418857   834.0
CO              4159659.0  49.729324  59.697231  1017.0
DL              4620911.0  45.786501  54.814263  1007.0
EV              3920352.0  52.153146  59.590063   940.0
F9               798332.0  31.053835  40.066953   809.0
FL              3129740.0  48.143921  56.336677  1175.0
HA               257923.0  35.827615  64.203954  1050.0
MQ              6443938.0  49.323276  61.346616  1707.0
NW              3498782.0  48.329056  74.595077  2461.0
OH              2696559.0  54.915261  58.046572   955.0
OO              6019322.0  49.362172  53.866605   990.0
UA              6850031.0  55.247086  59.536396  1322.0
US              3678122.0  44.175278  50.693495   876.0
WN             11609347.0  35.752200  43.578780   702.0
XE              5227263.0  55.424629  61.677044   838.0
YV              3706402.0  58.563131  60.866708   606.0

* Retraso medio por compañia

![mean_delay_carrier](./pics/mean_delay_carrier.png)

In [44]:
print('Porcentaje de retrasos acumulados por compañia.')
round(grouped['ArrDelay'].sum().sort_values(ascending=False)/82604167*100, 2)

Porcentaje de retrasos acumulados por compañia.

UniqueCarrier
WN    14.05
AA    10.90
UA     8.29
MQ     7.80
OO     7.29
XE     6.33
DL     5.59
CO     5.04
EV     4.75
YV     4.49
US     4.45
NW     4.24
FL     3.79
B6     3.73
OH     3.26
9E     2.96
AS     1.74
F9     0.97
HA     0.31
AQ     0.02
Name: ArrDelay, dtype: float64

![accum_delay_carrier](./pics/accum_delay_carrier.png)

## Ejercicio 3

Exporta el nuevo dataset a Excel

----------------------------------------------

Pasemos a un archivo csv la tabla de datos con las caracteristicas de interes y las nuevas columnas 'SpeedAv' y 'Late'

In [45]:
X.to_csv('new_delayed_flights.csv')